body{
    background-color: #8f8ff6;
}

#Login{
    height: auto;
    width: 250px;
    background-color: white;
    margin: auto;
    /* padding: 20px 10px 20px 10px; */
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}
form > input{
    width: 85%;
    border-top: none ;
    border-left: none ;
    border-right: none;
    outline: none;
    margin-top: 30px;
}
button{
    width: 85%;
    cursor: pointer;
    background-color:#8f8ff6;
    border: none;
    margin: auto;
    padding: 10px 63px 10px 70px;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;

}
h5{
    color: rgb(91, 88, 88);
    font-size: 13px;
}
